* {
    margin: 0;
}

:root {
    --primary-color: rgb(37, 211, 102);
    --background-color: rgb(252, 245, 235);
    --colored-background: #1c1e21;
}

body {
    box-sizing: border-box;
    font-size: 65%;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
}

.flex {
    display: flex;
}

nav {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    background-color: rgba(252, 245, 235, 0.8);
    z-index: 100;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.logo {
    width: 100px;
    object-fit: contain;
    padding: 10px;
}

nav menu {
    list-style-type: none;
    padding: 10px;
    font-size: 0.9rem;
    
}

nav menu li {
    padding: 4px 20px;
    font-weight: thin;
}

li:hover {
    text-decoration-line: underline;
}

button {
    width: fit-content;
    padding: 12px 30px;
    border: 1px solid black;
    background-color: var(--primary-color);
    font-size: 0.9rem;
    border-radius: 100px;
    margin-right: 50px;
    text-align: center;
}

button .button-text::after {
    content: " ";
    white-space: pre;
}

header, section {
    width: 100vw;
    height: 100vh;
}

header {
    padding-top: 80px;
}

.main-header-container {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.img-background {
    width: 95%;
    height: 100%;
    background-image: url(../images/Whatsap\ content_files/imge_20.png);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    justify-items: center;
    align-items: center;
}

.text {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.text-container {
    max-width: 60%;
    flex-direction: column;
    color: white;
}

.image {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image img {
    max-width: 60%;
}

h1 {
    font-size: 5rem;
    font-weight: 500;
}

.body {
    font-size: 1rem;
    padding: 20px 0;
    font-weight: 500;
}

.text-container button {
    width: fit-content;
    margin-top: 40px;
    border: 0;
    font-size: 1rem;
}

.header-image-2, .header-image-6 {
    position: relative;
    top: -15px;
}

.helper-text {
    width: 100%;
    text-align: end;
    margin-right: 70px;
    padding: 10px;
    color: grey;
    font-size: 0.8rem;
}

.text-section {
    width: 95%;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.text-section img {
    width: 80%;
    object-fit: contain;

}

.text-section p {
    max-width: 60%;
    margin: 40px;
    text-align: center;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.center {
    align-items: center;
    justify-content: center;
}

section {
    height: 100vh;
}

.two-parts {
    height: 100%;
}

.two-parts .two-parts-container {
    max-width: 90%;
}

.two-parts .part-1 {
    flex: 1.5;
}

.part-1 .width-container {
    width: 60%;
}

.part-1 h3 {
    font-size: 60px;
    font-weight: normal;
}

.part-1 p {
    font-size: 16px;
    line-height:25px;
    margin-bottom: 30px;
}

.part-1 .width-container a {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--primary-color);
    text-underline-offset:  4px;
    margin-top: 30px;
    color: black;
    font-size: 16px;
}

.two-parts .part-2 {
    flex: 1;
    align-items: start;
}

.colored {
    background-color: var(--colored-background);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.colored .two-parts .part-2 {
    width: 100%;

}

.colored .link { 
    color: white !important;
}

.reverse-row {
    flex-direction: row-reverse;

}


.highlight {
    color: var(--primary-color);
}

.align-top {
    z-index: 2;
    position: absolute;
}